.pc-index .pc-header .logo {
    display: flex;
    align-items: center;
}
.pc-index .pc-header .logo img {
    width: 48px;
    height: 48px;
}
.pc-index .pc-header .logo span {
    font-size: 24px;
    margin-left: 5px;
}
